<!DOCTYPE html>
<html lang="fr">
	<%- include('head.ejs') %>
	<body>
		<%- include('header.ejs') %>
		<input type='text' id='message' placeholder="Ecrivez votre message..." />
		<button id='send_button' onclick="sendMessage()">Envoyer</button>
		<section id='messages'>
		</section>
		<script type="text/javascript" src="http://10.12.223.254/socket.io/socket.io.js"></script>
		<script>
			var socket = io.connect('http://10.12.223.254');
			console.log('check 1', socket.connected);
socket.on('connect', function() {
  console.log('check 2', socket.connected);
});

			function sendMessage() {
				var message = document.getElementById('message');
				socket.emit('message', {
					message: message.value,
					author: 'mabite'
				});
				message.value = "";
			}
		</script>
	</body>
</html>