<style>
	input[type=checkbox] {
		display: none;
	}
	input[type=checkbox] + label {
		background-color: rgba(150, 150, 150, 0.7);
		width: 80px;
		height: 80px;
		display: inline-block;
		border-radius: 5px;
	}
	input[type=checkbox]:checked + label {
		background-color: rgba(200, 150, 100, 0.7);
		width: 80px;
		height: 80px;
		display: inline-block;
		border-radius: 5px;
	}
</style>

<input type='checkbox' id='coconut' name='fruit' value='#JustHangingOut' <% if (typeof locals.search != "undefined" && typeof locals.search.fruit != 'undefined' && (locals.search.fruit == '#JustHangingOut' || (typeof locals.search.fruit == 'object' && locals.search.fruit.includes('#JustHangingOut')))) { %>checked<% } %> /><label for='coconut'><img id='coco_img' src='/coconut.png' width="75" height="75" title="#JustHangingOut" /></label>
<input type='checkbox' name='fruit' id='peach' value='#BootyCall' <% if (typeof locals.search != "undefined" && typeof locals.search.fruit != 'undefined' && (locals.search.fruit == '#BootyCall' || (typeof locals.search.fruit == 'object' && locals.search.fruit.includes('#BootyCall')))) { %>checked<% } %> /><label for='peach'><img src='/peach.png' width="75" height="75" title="#BootyCall" /></label>
<input type='checkbox' name='fruit' id='cherry' value='#SeriousRelationship' <% if (typeof locals.search != "undefined" && typeof locals.search.fruit != 'undefined' && (locals.search.fruit == '#SeriousRelationship' || (typeof locals.search.fruit == 'object' && locals.search.fruit.includes('#SeriousRelationship')))) { %>checked<% } %> /><label for='cherry' ><img src='/cherry.png' width="75" height="75" title="#SeriousRelationship" /></label>
<input type='checkbox' name='fruit' id='ginger' value='#SexFriends' <% if (typeof locals.search != "undefined" && typeof locals.search.fruit != 'undefined' && (locals.search.fruit == '#SexFriends' || (typeof locals.search.fruit == 'object' && locals.search.fruit.includes('#SexFriends')))) { %>checked<% } %> /><label for='ginger' ><img src='/ginger.png' width="75" height="75" title="#SexFriends" /></label><br />