<style>
	input[type=checkbox] {
		display: none;
	}
	input[type=checkbox] + label {
		background-color: rgba(150, 150, 150, 0.7);
		width: 80px;
		height: 80px;
		display: inline-block;
		border-radius: 5px;
	}
	input[type=checkbox]:checked + label {
		background-color: rgba(200, 150, 100, 0.7);
		width: 80px;
		height: 80px;
		display: inline-block;
		border-radius: 5px;
	}
</style>

<input type='checkbox' id='coconut' name='fruit' value='#pasdecoupdunsoir' <% if (typeof locals.search.fruit != 'undefined' && (locals.search.fruit == '#pasdecoupdunsoir' || (typeof locals.search.fruit == 'object' && locals.search.fruit.includes('#pasdecoupdunsoir')))) { %>checked<% } %> /><label for='coconut'><img id='coco_img' src='coconut.png' width="75" height="75" title="#pasdecoupdunsoir" /></label>
<input type='checkbox' name='fruit' id='peach' value='#unsoir' <% if (typeof locals.search.fruit != 'undefined' && (locals.search.fruit == '#unsoir' || (typeof locals.search.fruit == 'object' && locals.search.fruit.includes('#unsoir')))) { %>checked<% } %> /><label for='peach'><img src='peach.png' width="75" height="75" title="#unsoir" /></label>
<input type='checkbox' name='fruit' id='cherry' value='#serieux' <% if (typeof locals.search.fruit != 'undefined' && (locals.search.fruit == '#serieux' || (typeof locals.search.fruit == 'object' && locals.search.fruit.includes('#serieux')))) { %>checked<% } %> /><label for='cherry' ><img src='cherry.png' width="75" height="75" title="#serieux" /></label>
<input type='checkbox' name='fruit' id='ginger' value='#pqr' <% if (typeof locals.search.fruit != 'undefined' && (locals.search.fruit == '#pqr' || (typeof locals.search.fruit == 'object' && locals.search.fruit.includes('#pqr')))) { %>checked<% } %> /><label for='ginger' ><img src='spices.png' width="75" height="75" title="#pqr" /></label>