<style>
	body {
		font-size: 32px;
		width: 100vw;
		margin: 0px;
		margin-top: 50px;
		top: 0px;
		left: 0px;
		background-image: url('background.png');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	a {
		color: rgb(240, 204, 3);
		text-decoration: none;
		font-weight: bold;
	}

	form {
		border-radius: 20px;
		text-align: center;
		background-color: rgba(160, 160, 160, 0.4);
		padding: 0px 20px;
		min-width: 350px;
		width: 30%;
		margin: 5px 0px;
		margin-left: 20px;
	}

	form * {
		margin: 2px 0px; 
	}

	form p {
		display: inline;
	}

	header {
		background-color: #d33;
		height: 50px;
		border-bottom: solid #800 2px;
		position: fixed;
		width: 100vw;
		top: 0px;
		left: 0px;
		z-index: 1;
	}

	#user_notification {
		background-color: #d33;
		position: absolute;
		left: 5%;
		top: calc(5% + 50px);
		min-height: 30px;
		min-width: 200px;
		width: 20%;
		text-align: center;
		border: solid #800 3px;
		border-radius: 5px;
	}

	#user_error {
		background-color: #d33;
		position: absolute;
		left: 5%;
		top: calc(5% + 50px);
		min-height: 30px;
		min-width: 200px;
		width: 20%;
		text-align: center;
		border: solid #800 3px;
		border-radius: 5px;
	}
</style>
<header>
	<nav class="adaptative_nav_bar">
		<a href="/" title="Acceuil">Acceuil</a>
		<% if (typeof locals.user == 'undefined') { %>
		<a href="/signup" title="Créer un compte">Créer un compte</a>
		<a href="/login" title="Se connecter">Se connecter</a>
		<% } else { %>
		<a href="/" title="Espace Personnel"><%= user %></a>
		<a href="/logout" title="Déconnexion">Se deconnecter</a>
		<% } %>
	</nav>
</header>

<% if (typeof locals.error != 'undefined') {
		%><p id="user_error"><%= locals.error %></p>
		<script>
		window.setTimeout(function() {
			let elem = document.getElementById('user_error');
			elem.parentNode.removeChild(elem);
		}, 5000);
		</script><%
} %>

<% if (typeof locals.notification != 'undefined') {
	%><p id="user_notification"><%= locals.notification %></p>
	<script>
	window.setTimeout(function() {
		let elem = document.getElementById('user_notification');
		elem.parentNode.removeChild(elem);
	}, 5000);
	</script><%
} %>