<!DOCTYPE html>
<html lang="fr">
    <%- include('head.ejs'); %>
    <body>
        <h1>Connexion :</h1>
        <p>Vous pouvez vous connecter ici !</p>
        <p>Pas encore disponible !</p>
    </body>
</html>