<!DOCTYPE html>
<html lang="fr">
    <%- include('head.ejs') %>
    <body>
        <%- include('header.ejs') %>
        <p>Pour le moment, les matchs ne sont pas disponibles, mais on peut recupérer ici la localisation de l'utilisateur :</p>
        <p>Vous etes à : <%= location.city %>, <%= location.country %></p>
        <img src='entrepreneur-593358_640.jpg' />
    </body>
</html>