<!DOCTYPE html>
<html lang="fr">
    <%- include(head.ejs); %>
    <body>
        <%- include(header.ejs); %>
        <form action='/reset_password' method="POST" id='reset_password'>
            <input name='password' type='password' required />
            <input name='username' type="hidden" value='<%= username %>' />
            <input name='token' type='hidden' value='<%= token %>' />
            <button>OK</button>
        </form>
    </body>
</html>