<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <body>
        <%- include('header.ejs') %>
        <form id='report_form' name='report_form' action='#' method="POST">
            <p>You are about to report a bad behavior from <%= name %>. Could you tell us what happenned ? (This is anonymous)</p>
            <textarea name='message' form='report_form' maxlength="200"></textarea>
            <input type="hidden" name="_csrf" value=<%= csrfToken %> />
            <button>Report</button>
        </form>
    </body>
</html>