<!DOCTYPE html>
<html lang="fr">
    <%- include('head.ejs') %>
    <body>
        <%- include('header.ejs') %>
        <form action='#' method="POST">
            <textarea maxlength="200"></textarea>
            <button>Signaler</button>
        </form>
        <p>Vous êtes sur le point de signaler un comportement indésirable de la part de <%= name %>. Veuillez décrire la nature du désagrément : </p>
    </body>
</html>