<!DOCTYPE html>
<html lang='fr'>
    <head>
        <title>Matcha | Créer un compte</title>
    </head>
    <body>
        <h1>Créer un compte !</h1>
        <p>Vous pouvez créer votre compte ici !</p>
        <p>Pas encore disponible.</p>
    </body>
</html>