<!DOCTYPE html>
<html lang='fr'>
	<%- include('head.ejs'); %>
	<body>
		<h1>Créer un compte</h1>
		<p>Vous etes en train de creer un compte en temps que :<br />
		<span class='username'><%= username %></span>, avec l'adresse mail : <span class="mail"><%= mail %></span></p>
		<h2>Encore quelques etapes :</h2>
		<p>Nous avons encore besoin de quelques informaions pour completer votre profil.</p>
	</body>
</html>