<!DOCTYPE html>
<html lang='en'>
    <%- include('head.ejs'); %>
    <body>
        <%- include('header.ejs'); %>
        <h2>Create your account !</h2>
        <form id='signup_form' name='signup_form' method="POST">
            <p>You can create an account here !</p><br />
            <input name='Username' type='text' maxlength="100" minlength="1" placeholder="Pseudo" /><br />
            <input name='Firstname' type="text" maxlength="100" minlength="1" placeholder="Firstname" /><br />
            <input name='Lastname' type="text" maxlength="100" minlength="1" placeholder="Lastname" /><br />
            <input name='Mail' type="email" maxlength="100" minlength="5" placeholder="E-Mail" /><br />
            <input name='Password' type='password' maxlength="32" minlength="1" placeholder="Password"/>
            <br />
            <h3>Fruit: </h3>
            <p>What kind of relationship are you looking for ?</p><br />
            <%- include('fruits.ejs') %>
            <input type="hidden" name="_csrf" value=<%= csrfToken %> /><br />
            <button>Register</button>
        </form>
    </body>
</html>
