<!DOCTYPE html>
<html lang='en'>
	<%- include('head.ejs'); %>
	<body>
		<%- include('header.ejs'); %>
		<h2>Almost done</h2>
		<p>You are creating an account as :<br />
		<span class='username'><%= username %></span>, using : <span class="mail"><%= mail %></span> as e-mail address</p>
		<p>We sent you an e-mail. Click the link into it, to confirm your registration.</p>
	</body>
</html>