<!DOCTYPE html>
<html lang='fr'>
	<%- include('head.ejs'); %>
	<body>
		<%- include('header.ejs'); %>
		<h1>Créer un compte</h1>
		<p>Vous etes en train de creer un compte en temps que :<br />
		<span class='username'><%= username %></span>, avec l'adresse mail : <span class="mail"><%= mail %></span></p>
		<p>Vous avez recu un mail vous indiquant la marche a suivre pour poursuivre votre inscription.</p>
	</body>
</html>