<!DOCTYPE html>
<html lang='fr'>
    <%- include('head.ejs'); %>
    <body>
        <%- include('header.ejs'); %>
        <h1>Créer un compte !</h1>
        <p>Vous pouvez créer votre compte ici !</p>
        <p>En cours de traitement.</p>
        <form name='signup_form' method="POST">
            <input name='Username' type='text' maxlength="100" minlength="1" placeholder="Pseudo" />
            <input name='Firstname' type="text" maxlength="100" minlength="1" placeholder="Prénom" />
            <input name='Lastname' type="text" maxlength="100" minlength="1" placeholder="Nom de Famille" />
            <input name='Mail' type="email" maxlength="100" minlength="5" placeholder="E-Mail" />
            <input name='Password' type='password' maxlength="32" minlength="1" placeholder="Mot de passe"/>
            <br />
            <h3>Fruit: </h3>
            Noix de Coco : <input type='radio' name='fruit' value='#pasdecoupdunsoir' />
            Peche : <input type='radio' name='fruit' value='#unsoir' checked />
            Cerise : <input type='radio' name='fruit' value='#serieux' />
            Gimgembre : <input type='radio' name='fruit' value='#pqr' />
            <input type="hidden" name="_csrf" value=<%= csrfToken %> />
            <button>Créer un compte</button>
        </form>
    </body>
</html>
